@model Hall_Reservation.Models.Hall

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

 

<h3>Hall</h3>
<hr />
<div class="row">
    <div class="col-md-5">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label"></label>
                <select asp-for="CategoryName" class ="col-sm form-control" asp-items=" ViewBag.Category" asp-v></select> 
                <button   type="button" class="ml-2 col-   btn btn-primary btn-sm">
                    <a asp-action="Create" asp-controller="Categories">Add  Categories</a></button>
          
            </div>
            <div class="form-group">
                <label asp-for="HallName" class="control-label"></label>
                <input asp-for="HallName" class="form-control" />
                <span asp-validation-for="HallName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HallCapacity" class="control-label"></label>
                <input asp-for="HallCapacity" class="form-control" />
                <span asp-validation-for="HallCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HallDescription" class="control-label"></label>
                <input asp-for="HallDescription" class="form-control" />
                <span asp-validation-for="HallDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingPrice" class="control-label"></label>
                <input asp-for="BookingPrice" class="form-control" />
                <span asp-validation-for="BookingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressName" class="control-label"></label>
                <select asp-for="AddressName" class ="form-control" asp-items="ViewBag.Address"></select>
                <button   type="button" class="col-   btn btn-primary btn-sm">
                    <a asp-action="Create" asp-controller="Addresses">Add  Address</a></button>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingNumber" class="control-label"></label>
                <input asp-for="BuildingNumber" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

